* {
    box-sizing: border-box;
}

body {
    font-family: 'Gilroy', sans-serif;
    margin: 0px;
}

.wrapped{
    width: 1320px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

address{
    font-style: normal;
}